C:\Users\willb\source\repos\Spring-2022\Box and Pottmeyer\Box and Pottmeyer Final\x64/
C:\Users\willb\source\repos\Spring-2022\Box and Pottmeyer\Box and Pottmeyer Final\Debug/
C:\Users\willb\source\repos\Spring-2022\Box and Pottmeyer\Box and Pottmeyer Final\Data/
C:\Users\willb\source\repos\Spring-2022\Box and Pottmeyer\Box and Pottmeyer Final\Assets/
C:\Users\willb\source\repos\Spring-2022\Box and Pottmeyer\Box and Pottmeyer Final\.vs/
Box and Pottmeyer/Box and Pottmeyer Final/.vs/assignment1/v16/.suo
Box and Pottmeyer/Box and Pottmeyer Final/.vs/assignment1/v16/Browse.VC.db
Box and Pottmeyer/Box and Pottmeyer Final/.vs/assignment1/v16/ipch/AutoPCH/1a6a816b845e8ca8/GHOSTMANAGER.ipch
Box and Pottmeyer/Box and Pottmeyer Final/.vs/assignment1/v16/ipch/AutoPCH/2645be8a826e2965/GRAPHICSBUFFER.ipch
Box and Pottmeyer/Box and Pottmeyer Final/.vs/assignment1/v16/ipch/AutoPCH/2966bf7d7dcb6efc/VECTOR2D.ipch
Box and Pottmeyer/Box and Pottmeyer Final/.vs/assignment1/v16/ipch/AutoPCH/305c9c1b5330c760/GAME.ipch
Box and Pottmeyer/Box and Pottmeyer Final/.vs/assignment1/v16/ipch/AutoPCH/3b8db34f80fa249b/KEYBOARDINPUTEVENT.ipch
Box and Pottmeyer/Box and Pottmeyer Final/.vs/assignment1/v16/ipch/AutoPCH/3e8c7cc68021fdda/AUDIO.ipch
Box and Pottmeyer/Box and Pottmeyer Final/.vs/assignment1/v16/ipch/AutoPCH/423a2736141ea81e/ALLEGROINITIALIZER.ipch
Box and Pottmeyer/Box and Pottmeyer Final/.vs/assignment1/v16/ipch/AutoPCH/44cfb53d881159f/ORDEREDSPRITES.ipch
Box and Pottmeyer/Box and Pottmeyer Final/.vs/assignment1/v16/ipch/AutoPCH/45e8573336d8592b/MOUSEINPUTEVENT.ipch
Box and Pottmeyer/Box and Pottmeyer Final/.vs/assignment1/v16/ipch/AutoPCH/485dd1004b2300ca/CLICKABLEEVENT.ipch
Box and Pottmeyer/Box and Pottmeyer Final/.vs/assignment1/v16/ipch/AutoPCH/49ff5d79e4a5eb3a/FOOD.ipch
Box and Pottmeyer/Box and Pottmeyer Final/.vs/assignment1/v16/ipch/AutoPCH/56ff5bd9ace4390b/HEADSUPDISPLAY.ipch
Box and Pottmeyer/Box and Pottmeyer Final/.vs/assignment1/v16/ipch/AutoPCH/5788e7e6b471c629/UNITMANAGER.ipch
Box and Pottmeyer/Box and Pottmeyer Final/.vs/assignment1/v16/ipch/AutoPCH/6702f9d70f4012f6/COLLISIONEVENT.ipch
Box and Pottmeyer/Box and Pottmeyer Final/.vs/assignment1/v16/ipch/AutoPCH/697942260247b683/COLOR.ipch
Box and Pottmeyer/Box and Pottmeyer Final/.vs/assignment1/v16/ipch/AutoPCH/6b48687044001735/INPUTSYSTEM.ipch
Box and Pottmeyer/Box and Pottmeyer Final/.vs/assignment1/v16/ipch/AutoPCH/735448f35fc771d6/HEADSUPDISPLAY.ipch
Box and Pottmeyer/Box and Pottmeyer Final/.vs/assignment1/v16/ipch/AutoPCH/75bde5edc0a61e3e/MOUSEINPUTEVENT.ipch
Box and Pottmeyer/Box and Pottmeyer Final/.vs/assignment1/v16/ipch/AutoPCH/7cb7bfb1a5681568/MEMORYTRACKER.ipch
Box and Pottmeyer/Box and Pottmeyer Final/.vs/assignment1/v16/ipch/AutoPCH/7eb5dd02c6936eff/PICKUPMANAGER.ipch
Box and Pottmeyer/Box and Pottmeyer Final/.vs/assignment1/v16/ipch/AutoPCH/8505a0a5c72ab05c/EVENTSYSTEM.ipch
Box and Pottmeyer/Box and Pottmeyer Final/.vs/assignment1/v16/ipch/AutoPCH/85a84d2a93f1aa84/ORDEREDSPRITESMANAGER.ipch
Box and Pottmeyer/Box and Pottmeyer Final/.vs/assignment1/v16/ipch/AutoPCH/932135f770044ae4/CLICKABLEBUTTON.ipch
Box and Pottmeyer/Box and Pottmeyer Final/.vs/assignment1/v16/ipch/AutoPCH/95a1ba4b8005b4b8/EVENT.ipch
Box and Pottmeyer/Box and Pottmeyer Final/.vs/assignment1/v16/ipch/AutoPCH/9b7cb7b2e7b0630f/SPRITE.ipch
Box and Pottmeyer/Box and Pottmeyer Final/.vs/assignment1/v16/ipch/AutoPCH/9c4a243a8b2809fd/LEVELLOADER.ipch
Box and Pottmeyer/Box and Pottmeyer Final/.vs/assignment1/v16/ipch/AutoPCH/9e7fee4e7cbc5310/UNIT.ipch
Box and Pottmeyer/Box and Pottmeyer Final/.vs/assignment1/v16/ipch/AutoPCH/a06be63d246764ce/WALL.ipch
Box and Pottmeyer/Box and Pottmeyer Final/.vs/assignment1/v16/ipch/AutoPCH/a70f53977b6729aa/INPUTEVENT.ipch
Box and Pottmeyer/Box and Pottmeyer Final/.vs/assignment1/v16/ipch/AutoPCH/aa9f25cccee97d27/ANIMATIONMANAGER.ipch
Box and Pottmeyer/Box and Pottmeyer Final/.vs/assignment1/v16/ipch/AutoPCH/ab13059de6929f2f/MOVEEVENT.ipch
Box and Pottmeyer/Box and Pottmeyer Final/.vs/assignment1/v16/ipch/AutoPCH/abad22bb6642e585/GAMEEVENTS.ipch
Box and Pottmeyer/Box and Pottmeyer Final/.vs/assignment1/v16/ipch/AutoPCH/bbe37e5f2dbe0ffb/GHOST.ipch
Box and Pottmeyer/Box and Pottmeyer Final/.vs/assignment1/v16/ipch/AutoPCH/c8d88d80137da44c/SNAKE.ipch
Box and Pottmeyer/Box and Pottmeyer Final/.vs/assignment1/v16/ipch/AutoPCH/cfd939092d63602f/LEVELEVENTS.ipch
Box and Pottmeyer/Box and Pottmeyer Final/.vs/assignment1/v16/ipch/AutoPCH/d4b51d2be6632603/MAIN.ipch
Box and Pottmeyer/Box and Pottmeyer Final/.vs/assignment1/v16/ipch/AutoPCH/dab45edfedd5dcfa/GRAPHICSBUFFERMANAGER.ipch
Box and Pottmeyer/Box and Pottmeyer Final/.vs/assignment1/v16/ipch/AutoPCH/e72c476de958992b/FONT.ipch
Box and Pottmeyer/Box and Pottmeyer Final/.vs/assignment1/v16/ipch/AutoPCH/e7a18cd7afb27e96/ANIMATION.ipch
Box and Pottmeyer/Box and Pottmeyer Final/.vs/assignment1/v16/ipch/AutoPCH/eacba1fe3373d68e/TRACKABLE.ipch
Box and Pottmeyer/Box and Pottmeyer Final/.vs/assignment1/v16/ipch/AutoPCH/ef7c1b9b7a1cd87a/GRAPHICSSYSTEM.ipch
Box and Pottmeyer/Box and Pottmeyer Final/.vs/assignment1/v16/ipch/AutoPCH/f7df2e1db604bb50/GAMELISTENER.ipch
Box and Pottmeyer/Box and Pottmeyer Final/Assets/Aurebesh/Aurebesh Bold Italic.ttf
Box and Pottmeyer/Box and Pottmeyer Final/Assets/Aurebesh/Aurebesh Bold.ttf
Box and Pottmeyer/Box and Pottmeyer Final/Assets/Aurebesh/Aurebesh Condensed Bold Italic.ttf
Box and Pottmeyer/Box and Pottmeyer Final/Assets/Aurebesh/Aurebesh Condensed Bold.ttf
Box and Pottmeyer/Box and Pottmeyer Final/Assets/Aurebesh/Aurebesh Condensed Italic.ttf
Box and Pottmeyer/Box and Pottmeyer Final/Assets/Aurebesh/Aurebesh Condensed.ttf
Box and Pottmeyer/Box and Pottmeyer Final/Assets/Aurebesh/Aurebesh Italic.ttf
Box and Pottmeyer/Box and Pottmeyer Final/Assets/Aurebesh/Aurebesh.ttf
Box and Pottmeyer/Box and Pottmeyer Final/Assets/Aurebesh/Font License.txt
*.bmp
*.png
*.wav
Box and Pottmeyer\Box and Pottmeyer Final\Debug\AllegroInitializer.obj
Box and Pottmeyer\Box and Pottmeyer Final\Debug\Animation.obj
Box and Pottmeyer\Box and Pottmeyer Final\Debug\AnimationManager.obj
Box and Pottmeyer\Box and Pottmeyer Final\Debug\assignment1.Build.CppClean.log
Box and Pottmeyer\Box and Pottmeyer Final\Debug\assignment1.exe
Box and Pottmeyer\Box and Pottmeyer Final\Debug\assignment1.exe.recipe
Box and Pottmeyer\Box and Pottmeyer Final\Debug\assignment1.ilk
Box and Pottmeyer\Box and Pottmeyer Final\Debug\assignment1.log
Box and Pottmeyer\Box and Pottmeyer Final\Debug\assignment1.pdb
Box and Pottmeyer\Box and Pottmeyer Final\Debug\assignment1.tlog\assignment1.lastbuildstate
Box and Pottmeyer\Box and Pottmeyer Final\Debug\assignment1.tlog\CL.command.1.tlog
Box and Pottmeyer\Box and Pottmeyer Final\Debug\assignment1.tlog\CL.read.1.tlog
Box and Pottmeyer\Box and Pottmeyer Final\Debug\assignment1.tlog\CL.write.1.tlog
Box and Pottmeyer\Box and Pottmeyer Final\Debug\assignment1.tlog\link.command.1.tlog
Box and Pottmeyer\Box and Pottmeyer Final\Debug\assignment1.tlog\link.read.1.tlog
Box and Pottmeyer\Box and Pottmeyer Final\Debug\assignment1.tlog\link.write.1.tlog
Box and Pottmeyer\Box and Pottmeyer Final\Debug\assignment1.vcxproj.FileListAbsolute.txt
Box and Pottmeyer\Box and Pottmeyer Final\Debug\Audio.obj
Box and Pottmeyer\Box and Pottmeyer Final\Debug\ClickableButton.obj
Box and Pottmeyer\Box and Pottmeyer Final\Debug\ClickableEvent.obj
Box and Pottmeyer\Box and Pottmeyer Final\Debug\CollisionEvent.obj
Box and Pottmeyer\Box and Pottmeyer Final\Debug\Color.obj
Box and Pottmeyer\Box and Pottmeyer Final\Debug\Event.obj
Box and Pottmeyer\Box and Pottmeyer Final\Debug\Font.obj
Box and Pottmeyer\Box and Pottmeyer Final\Debug\Food.obj
Box and Pottmeyer\Box and Pottmeyer Final\Debug\Fruit.obj
Box and Pottmeyer\Box and Pottmeyer Final\Debug\Game.obj
Box and Pottmeyer\Box and Pottmeyer Final\Debug\game.obj.enc
Box and Pottmeyer\Box and Pottmeyer Final\Debug\GameEvents.obj
Box and Pottmeyer\Box and Pottmeyer Final\Debug\GameListener.obj
Box and Pottmeyer\Box and Pottmeyer Final\Debug\Ghost.obj
Box and Pottmeyer\Box and Pottmeyer Final\Debug\GhostManager.obj
Box and Pottmeyer\Box and Pottmeyer Final\Debug\GraphicsBuffer.obj
Box and Pottmeyer\Box and Pottmeyer Final\Debug\GraphicsBufferManager.obj
Box and Pottmeyer\Box and Pottmeyer Final\Debug\GraphicsSystem.obj
Box and Pottmeyer\Box and Pottmeyer Final\Debug\HeadsUpDisplay.obj
Box and Pottmeyer\Box and Pottmeyer Final\Debug\InputEvent.obj
Box and Pottmeyer\Box and Pottmeyer Final\Debug\InputSystem.obj
Box and Pottmeyer\Box and Pottmeyer Final\Debug\KeyboardInputEvent.obj
Box and Pottmeyer\Box and Pottmeyer Final\Debug\LevelEvents.obj
Box and Pottmeyer\Box and Pottmeyer Final\Debug\LevelLoader.obj
Box and Pottmeyer\Box and Pottmeyer Final\Debug\libfreetype-6.dll
Box and Pottmeyer\Box and Pottmeyer Final\Debug\main.obj
Box and Pottmeyer\Box and Pottmeyer Final\Debug\MouseInputEvent.obj
Box and Pottmeyer\Box and Pottmeyer Final\Debug\MoveEvent.obj
Box and Pottmeyer\Box and Pottmeyer Final\Debug\OrderedSprites.obj
Box and Pottmeyer\Box and Pottmeyer Final\Debug\OrderedSpritesManager.obj
Box and Pottmeyer\Box and Pottmeyer Final\Debug\PickUpManager.obj
Box and Pottmeyer\Box and Pottmeyer Final\Debug\PowerDown.obj
Box and Pottmeyer\Box and Pottmeyer Final\Debug\PowerUp.obj
Box and Pottmeyer\Box and Pottmeyer Final\Debug\SDL2.dll
Box and Pottmeyer\Box and Pottmeyer Final\Debug\SDL2_ttf.dll
Box and Pottmeyer\Box and Pottmeyer Final\Debug\Snake.obj
Box and Pottmeyer\Box and Pottmeyer Final\Debug\SnakeEvent.obj
Box and Pottmeyer\Box and Pottmeyer Final\Debug\SnakeSegment.obj
Box and Pottmeyer\Box and Pottmeyer Final\Debug\SoundEvent.obj
Box and Pottmeyer\Box and Pottmeyer Final\Debug\Sprite.obj
Box and Pottmeyer\Box and Pottmeyer Final\Debug\Unit.obj
Box and Pottmeyer\Box and Pottmeyer Final\Debug\UnitManager.obj
Box and Pottmeyer\Box and Pottmeyer Final\Debug\vc142.idb
Box and Pottmeyer\Box and Pottmeyer Final\Debug\vc142.pdb
Box and Pottmeyer\Box and Pottmeyer Final\Debug\Wall.obj
Box and Pottmeyer\Box and Pottmeyer Final\Debug\zlib1.dll
Box and Pottmeyer/Box and Pottmeyer Final/Debug/AllegroInitializer.obj
Box and Pottmeyer/Box and Pottmeyer Final/Debug/Animation.obj
Box and Pottmeyer/Box and Pottmeyer Final/Debug/AnimationManager.obj
Box and Pottmeyer/Box and Pottmeyer Final/Debug/assignment1.Build.CppClean.log
Box and Pottmeyer/Box and Pottmeyer Final/Debug/assignment1.exe
Box and Pottmeyer/Box and Pottmeyer Final/Debug/assignment1.exe.recipe
Box and Pottmeyer/Box and Pottmeyer Final/Debug/assignment1.ilk
Box and Pottmeyer/Box and Pottmeyer Final/Debug/assignment1.log
Box and Pottmeyer/Box and Pottmeyer Final/Debug/assignment1.pdb
Box and Pottmeyer/Box and Pottmeyer Final/Debug/assignment1.tlog/assignment1.lastbuildstate
Box and Pottmeyer/Box and Pottmeyer Final/Debug/assignment1.tlog/CL.command.1.tlog
Box and Pottmeyer/Box and Pottmeyer Final/Debug/assignment1.tlog/CL.read.1.tlog
Box and Pottmeyer/Box and Pottmeyer Final/Debug/assignment1.tlog/CL.write.1.tlog
Box and Pottmeyer/Box and Pottmeyer Final/Debug/assignment1.tlog/link.command.1.tlog
Box and Pottmeyer/Box and Pottmeyer Final/Debug/assignment1.tlog/link.read.1.tlog
Box and Pottmeyer/Box and Pottmeyer Final/Debug/assignment1.tlog/link.write.1.tlog
Box and Pottmeyer/Box and Pottmeyer Final/Debug/assignment1.vcxproj.FileListAbsolute.txt
Box and Pottmeyer/Box and Pottmeyer Final/Debug/Audio.obj
Box and Pottmeyer/Box and Pottmeyer Final/Debug/ClickableButton.obj
Box and Pottmeyer/Box and Pottmeyer Final/Debug/ClickableEvent.obj
Box and Pottmeyer/Box and Pottmeyer Final/Debug/CollisionEvent.obj
Box and Pottmeyer/Box and Pottmeyer Final/Debug/Color.obj
Box and Pottmeyer/Box and Pottmeyer Final/Debug/Event.obj
Box and Pottmeyer/Box and Pottmeyer Final/Debug/Font.obj
Box and Pottmeyer/Box and Pottmeyer Final/Debug/Food.obj
Box and Pottmeyer/Box and Pottmeyer Final/Debug/Fruit.obj
Box and Pottmeyer/Box and Pottmeyer Final/Debug/Game.obj
Box and Pottmeyer/Box and Pottmeyer Final/Debug/game.obj.enc
Box and Pottmeyer/Box and Pottmeyer Final/Debug/GameEvents.obj
Box and Pottmeyer/Box and Pottmeyer Final/Debug/GameListener.obj
Box and Pottmeyer/Box and Pottmeyer Final/Debug/Ghost.obj
Box and Pottmeyer/Box and Pottmeyer Final/Debug/GhostManager.obj
Box and Pottmeyer/Box and Pottmeyer Final/Debug/GraphicsBuffer.obj
Box and Pottmeyer/Box and Pottmeyer Final/Debug/GraphicsBufferManager.obj
Box and Pottmeyer/Box and Pottmeyer Final/Debug/GraphicsSystem.obj
Box and Pottmeyer/Box and Pottmeyer Final/Debug/HeadsUpDisplay.obj
Box and Pottmeyer/Box and Pottmeyer Final/Debug/InputEvent.obj
Box and Pottmeyer/Box and Pottmeyer Final/Debug/InputSystem.obj
Box and Pottmeyer/Box and Pottmeyer Final/Debug/KeyboardInputEvent.obj
Box and Pottmeyer/Box and Pottmeyer Final/Debug/LevelEvents.obj
Box and Pottmeyer/Box and Pottmeyer Final/Debug/LevelLoader.obj
Box and Pottmeyer/Box and Pottmeyer Final/Debug/libfreetype-6.dll
Box and Pottmeyer/Box and Pottmeyer Final/Debug/main.obj
Box and Pottmeyer/Box and Pottmeyer Final/Debug/MouseInputEvent.obj
Box and Pottmeyer/Box and Pottmeyer Final/Debug/MoveEvent.obj
Box and Pottmeyer/Box and Pottmeyer Final/Debug/OrderedSprites.obj
Box and Pottmeyer/Box and Pottmeyer Final/Debug/OrderedSpritesManager.obj
Box and Pottmeyer/Box and Pottmeyer Final/Debug/PickUpManager.obj
Box and Pottmeyer/Box and Pottmeyer Final/Debug/PowerDown.obj
Box and Pottmeyer/Box and Pottmeyer Final/Debug/PowerUp.obj
Box and Pottmeyer/Box and Pottmeyer Final/Debug/SDL2.dll
Box and Pottmeyer/Box and Pottmeyer Final/Debug/SDL2_ttf.dll
Box and Pottmeyer/Box and Pottmeyer Final/Debug/Snake.obj
Box and Pottmeyer/Box and Pottmeyer Final/Debug/SnakeEvent.obj
Box and Pottmeyer/Box and Pottmeyer Final/Debug/SnakeSegment.obj
Box and Pottmeyer/Box and Pottmeyer Final/Debug/SoundEvent.obj
Box and Pottmeyer/Box and Pottmeyer Final/Debug/Sprite.obj
Box and Pottmeyer/Box and Pottmeyer Final/Debug/Unit.obj
Box and Pottmeyer/Box and Pottmeyer Final/Debug/UnitManager.obj
Box and Pottmeyer/Box and Pottmeyer Final/Debug/vc142.idb
Box and Pottmeyer/Box and Pottmeyer Final/Debug/vc142.pdb
Box and Pottmeyer/Box and Pottmeyer Final/Debug/Wall.obj
Box and Pottmeyer/Box and Pottmeyer Final/Debug/zlib1.dll
box.william/Assignment 1/.vs/assignment1/v16/.suo
box.william/Assignment 1/.vs/assignment1/v16/Browse.VC.db
box.william/Assignment 1/.vs/assignment1/v16/ipch/AutoPCH/2831d00651ca442b/MAIN.ipch
box.william/Assignment 1/.vs/assignment1/v16/ipch/AutoPCH/2966bf7d7dcb6efc/VECTOR2D.ipch
box.william/Assignment 1/.vs/assignment1/v16/ipch/AutoPCH/68c9f41773f04ae3/FONT.ipch
box.william/Assignment 1/.vs/assignment1/v16/ipch/AutoPCH/6f2fdf44858f79bd/GRAPHICSBUFFER.ipch
box.william/Assignment 1/.vs/assignment1/v16/ipch/AutoPCH/7371dfa1b29a7c50/ALLEGRO_MANAGER.ipch
box.william/Assignment 1/.vs/assignment1/v16/ipch/AutoPCH/73a42947534e0d7b/COLOR.ipch
box.william/Assignment 1/.vs/assignment1/v16/ipch/AutoPCH/a41eb9419f9e4ab1/DATAREPOSITORY.ipch
box.william/Assignment 1/.vs/assignment1/v16/ipch/AutoPCH/b258a148ad0099f6/ALLEGROINITIALIZER.ipch
box.william/Assignment 1/.vs/assignment1/v16/ipch/AutoPCH/ccce3d61e1dcfb2/GRAPHICSSYSTEM.ipch
box.william/Assignment 1/.vs/assignment1/v16/ipch/AutoPCH/dffb120ff487dd97/SPRITE.ipch
box.william/Assignment 1/.vs/assignment1/v16/ipch/AutoPCH/fe5dfe1ea0bf1c80/BOOK.ipch
box.william/Assignment 1/.vs/assignment1/v16/Solution.VC.db
box.william/Assignment 0/.vs/assignment1/v16/.suo
box.william/Assignment 0/.vs/assignment1/v16/Browse.VC.db
box.william/Assignment 0/.vs/assignment1/v16/ipch/AutoPCH/65847b774624d6f5/MAIN.ipch
box.william/Assignment 0/.vs/assignment1/v16/Solution.VC.db
box.william/Assignment 1/Debug/AllegroInitializer.obj
box.william/Assignment 1/Debug/assignment1.exe
box.william/Assignment 1/Debug/assignment1.exe.recipe
box.william/Assignment 1/Debug/assignment1.ilk
box.william/Assignment 1/Debug/assignment1.log
box.william/Assignment 1/Debug/assignment1.pdb
box.william/Assignment 1/Debug/assignment1.tlog/assignment1.lastbuildstate
box.william/Assignment 1/Debug/assignment1.tlog/CL.command.1.tlog
box.william/Assignment 1/Debug/assignment1.tlog/CL.read.1.tlog
box.william/Assignment 1/Debug/assignment1.tlog/CL.write.1.tlog
box.william/Assignment 1/Debug/assignment1.tlog/link.command.1.tlog
box.william/Assignment 1/Debug/assignment1.tlog/link.read.1.tlog
box.william/Assignment 1/Debug/assignment1.tlog/link.write.1.tlog
box.william/Assignment 1/Debug/assignment1.vcxproj.FileListAbsolute.txt
box.william/Assignment 1/Debug/Color.obj
box.william/Assignment 1/Debug/Font.obj
box.william/Assignment 1/Debug/GraphicsBuffer.obj
box.william/Assignment 1/Debug/GraphicsSystem.obj
box.william/Assignment 1/Debug/main.obj
box.william/Assignment 1/Debug/Sprite.obj
box.william/Assignment 1/Debug/vc142.idb
box.william/Assignment 1/Debug/vc142.pdb
box.william/Assignment 2/.vs/assignment1/v16/.suo
box.william/Assignment 2/.vs/assignment1/v16/Browse.VC.db
box.william/Assignment 2/.vs/assignment1/v16/ipch/AutoPCH/112ead2f826a8641/FONT.ipch
box.william/Assignment 2/.vs/assignment1/v16/ipch/AutoPCH/442f2b206b354de9/MAIN.ipch
box.william/Assignment 2/.vs/assignment1/v16/ipch/AutoPCH/4b2a33d01ae96d7a/INPUTSYSTEM.ipch
box.william/Assignment 2/.vs/assignment1/v16/ipch/AutoPCH/591e3fc3337b7768/ALLEGROINITIALIZER.ipch
box.william/Assignment 2/.vs/assignment1/v16/ipch/AutoPCH/6f6a8e6ebf6e2521/SPRITE.ipch
box.william/Assignment 2/.vs/assignment1/v16/ipch/AutoPCH/7937aa35e84b1924/GRAPHICSSYSTEM.ipch
box.william/Assignment 2/.vs/assignment1/v16/ipch/AutoPCH/a19bf17782a33463/DEANMATH.ipch
box.william/Assignment 2/.vs/assignment1/v16/ipch/AutoPCH/a41eb9419f9e4ab1/DATAREPOSITORY.ipch
box.william/Assignment 2/.vs/assignment1/v16/ipch/AutoPCH/b66e01ffc8478930/ANIMATION.ipch
box.william/Assignment 2/.vs/assignment1/v16/ipch/AutoPCH/ba36390d419274a6/UNIT.ipch
box.william/Assignment 2/.vs/assignment1/v16/ipch/AutoPCH/cd0d77187e54d9de/GAME.ipch
box.william/Assignment 2/.vs/assignment1/v16/ipch/AutoPCH/d80a5ab926791ba7/GRAPHICSBUFFER.ipch
box.william/Assignment 2/.vs/assignment1/v16/ipch/AutoPCH/da7b0303fb286dc7/INPUTSYSTEM.ipch
box.william/Assignment 2/.vs/assignment1/v16/ipch/AutoPCH/da96ff57cfdbfc03/GAME.ipch
box.william/Assignment 2/.vs/assignment1/v16/Solution.VC.db
box.william/Assignment 2/Debug/AllegroInitializer.obj
box.william/Assignment 2/Debug/Animation.obj
box.william/Assignment 2/Debug/assignment1.exe
box.william/Assignment 2/Debug/assignment1.exe.recipe
box.william/Assignment 2/Debug/assignment1.ilk
box.william/Assignment 2/Debug/assignment1.log
box.william/Assignment 2/Debug/assignment1.pdb
box.william/Assignment 2/Debug/assignment1.tlog/assignment1.lastbuildstate
box.william/Assignment 2/Debug/assignment1.tlog/CL.command.1.tlog
box.william/Assignment 2/Debug/assignment1.tlog/CL.read.1.tlog
box.william/Assignment 2/Debug/assignment1.tlog/CL.write.1.tlog
box.william/Assignment 2/Debug/assignment1.tlog/link.command.1.tlog
box.william/Assignment 2/Debug/assignment1.tlog/link.read.1.tlog
box.william/Assignment 2/Debug/assignment1.tlog/link.write.1.tlog
box.william/Assignment 2/Debug/assignment1.vcxproj.FileListAbsolute.txt
box.william/Assignment 2/Debug/Color.obj
box.william/Assignment 2/Debug/Font.obj
box.william/Assignment 2/Debug/Game.obj
box.william/Assignment 2/Debug/GraphicsBuffer.obj
box.william/Assignment 2/Debug/GraphicsSystem.obj
box.william/Assignment 2/Debug/InputSystem.obj
box.william/Assignment 2/Debug/main.obj
box.william/Assignment 2/Debug/Sprite.obj
box.william/Assignment 2/Debug/Unit.obj
box.william/Assignment 2/Debug/vc142.idb
box.william/Assignment 2/Debug/vc142.pdb
box.william/Assignment 3/.vs/assignment1/v16/.suo
box.william/Assignment 3/.vs/assignment1/v16/Browse.VC.db
box.william/Assignment 3/.vs/assignment1/v16/ipch/AutoPCH/112ead2f826a8641/FONT.ipch
box.william/Assignment 3/.vs/assignment1/v16/ipch/AutoPCH/1694f15859fc1bf6/ANIMATION.ipch
box.william/Assignment 3/.vs/assignment1/v16/ipch/AutoPCH/256474514326ab05/GRAPHICSBUFFER.ipch
box.william/Assignment 3/.vs/assignment1/v16/ipch/AutoPCH/2d8a4bde8c54915a/GRAPHICSBUFFERMANAGER.ipch
box.william/Assignment 3/.vs/assignment1/v16/ipch/AutoPCH/35a2b3558f10ee00/GAME.ipch
box.william/Assignment 3/.vs/assignment1/v16/ipch/AutoPCH/3ac50ebb95939e23/MAIN.ipch
box.william/Assignment 3/.vs/assignment1/v16/ipch/AutoPCH/442f2b206b354de9/MAIN.ipch
box.william/Assignment 3/.vs/assignment1/v16/ipch/AutoPCH/4b2a33d01ae96d7a/INPUTSYSTEM.ipch
box.william/Assignment 3/.vs/assignment1/v16/ipch/AutoPCH/4cd5844f30737530/UNIT.ipch
box.william/Assignment 3/.vs/assignment1/v16/ipch/AutoPCH/591e3fc3337b7768/ALLEGROINITIALIZER.ipch
box.william/Assignment 3/.vs/assignment1/v16/ipch/AutoPCH/64d1ebf5526aa6af/SPRITE.ipch
box.william/Assignment 3/.vs/assignment1/v16/ipch/AutoPCH/6f6a8e6ebf6e2521/SPRITE.ipch
box.william/Assignment 3/.vs/assignment1/v16/ipch/AutoPCH/7101a66696119a95/INPUTSYSTEM.ipch
box.william/Assignment 3/.vs/assignment1/v16/ipch/AutoPCH/7937aa35e84b1924/GRAPHICSSYSTEM.ipch
box.william/Assignment 3/.vs/assignment1/v16/ipch/AutoPCH/8ad986967cb1e409/UNITMANAGER.ipch
box.william/Assignment 3/.vs/assignment1/v16/ipch/AutoPCH/8fa4726c1c76fd63/COLOR.ipch
box.william/Assignment 3/.vs/assignment1/v16/ipch/AutoPCH/937b9ab63e2b7b9a/GRAPHICSSYSTEM.ipch
box.william/Assignment 3/.vs/assignment1/v16/ipch/AutoPCH/9c1bf3e1e660dacb/FONT.ipch
box.william/Assignment 3/.vs/assignment1/v16/ipch/AutoPCH/a19bf17782a33463/DEANMATH.ipch
box.william/Assignment 3/.vs/assignment1/v16/ipch/AutoPCH/a41eb9419f9e4ab1/DATAREPOSITORY.ipch
box.william/Assignment 3/.vs/assignment1/v16/ipch/AutoPCH/b66e01ffc8478930/ANIMATION.ipch
box.william/Assignment 3/.vs/assignment1/v16/ipch/AutoPCH/ba36390d419274a6/UNIT.ipch
box.william/Assignment 3/.vs/assignment1/v16/ipch/AutoPCH/cd0d77187e54d9de/GAME.ipch
box.william/Assignment 3/.vs/assignment1/v16/ipch/AutoPCH/d80a5ab926791ba7/GRAPHICSBUFFER.ipch
box.william/Assignment 3/.vs/assignment1/v16/ipch/AutoPCH/da7b0303fb286dc7/INPUTSYSTEM.ipch
box.william/Assignment 3/.vs/assignment1/v16/ipch/AutoPCH/da96ff57cfdbfc03/GAME.ipch
box.william/Assignment 3/.vs/assignment1/v16/ipch/AutoPCH/f8eb13f63a9eb4be/ALLEGROINITIALIZER.ipch
box.william/Assignment 3/.vs/assignment1/v16/Solution.VC.db
box.william/Assignment 3/Debug/AllegroInitializer.obj
box.william/Assignment 3/Debug/Animation.obj
box.william/Assignment 3/Debug/assignment1.exe
box.william/Assignment 3/Debug/assignment1.exe.recipe
box.william/Assignment 3/Debug/assignment1.ilk
box.william/Assignment 3/Debug/assignment1.log
box.william/Assignment 3/Debug/assignment1.pdb
box.william/Assignment 3/Debug/assignment1.tlog/assignment1.lastbuildstate
box.william/Assignment 3/Debug/assignment1.tlog/CL.command.1.tlog
box.william/Assignment 3/Debug/assignment1.tlog/CL.read.1.tlog
box.william/Assignment 3/Debug/assignment1.tlog/CL.write.1.tlog
box.william/Assignment 3/Debug/assignment1.tlog/link.command.1.tlog
box.william/Assignment 3/Debug/assignment1.tlog/link.read.1.tlog
box.william/Assignment 3/Debug/assignment1.tlog/link.write.1.tlog
box.william/Assignment 3/Debug/assignment1.vcxproj.FileListAbsolute.txt
box.william/Assignment 3/Debug/Color.obj
box.william/Assignment 3/Debug/Font.obj
box.william/Assignment 3/Debug/Game.obj
box.william/Assignment 3/Debug/GraphicsBuffer.obj
box.william/Assignment 3/Debug/GraphicsBufferManager.obj
box.william/Assignment 3/Debug/GraphicsSystem.obj
box.william/Assignment 3/Debug/InputSystem.obj
box.william/Assignment 3/Debug/main.obj
box.william/Assignment 3/Debug/Sprite.obj
box.william/Assignment 3/Debug/Unit.obj
box.william/Assignment 3/Debug/UnitManager.obj
box.william/Assignment 3/Debug/vc142.idb
box.william/Assignment 3/Debug/vc142.pdb
box.william/Assignment 4/.vs/assignment1/v16/.suo
box.william/Assignment 4/.vs/assignment1/v16/Browse.VC.db
box.william/Assignment 4/.vs/assignment1/v16/ipch/AutoPCH/17bc262469e26aa/SNAKE.ipch
box.william/Assignment 4/.vs/assignment1/v16/ipch/AutoPCH/2966bf7d7dcb6efc/VECTOR2D.ipch
box.william/Assignment 4/.vs/assignment1/v16/ipch/AutoPCH/29fcf583ae12a604/ALLEGROINITIALIZER.ipch
box.william/Assignment 4/.vs/assignment1/v16/ipch/AutoPCH/2d481db2d53b31b2/UNIT.ipch
box.william/Assignment 4/.vs/assignment1/v16/ipch/AutoPCH/2dc01a260db24a3/POWERDOWN.ipch
box.william/Assignment 4/.vs/assignment1/v16/ipch/AutoPCH/350f725c4923e233/LEVELLOADER.ipch
box.william/Assignment 4/.vs/assignment1/v16/ipch/AutoPCH/3c54aeb04aa22b5/SPRITE.ipch
box.william/Assignment 4/.vs/assignment1/v16/ipch/AutoPCH/3d4edc549602d71c/HEADSUPDISPLAY.ipch
box.william/Assignment 4/.vs/assignment1/v16/ipch/AutoPCH/3d62203e9b7d7c70/GRAPHICSBUFFERMANAGER.ipch
box.william/Assignment 4/.vs/assignment1/v16/ipch/AutoPCH/5980094a309cb85a/XTHROW.ipch
box.william/Assignment 4/.vs/assignment1/v16/ipch/AutoPCH/5b11df9cd389377a/EVENT.ipch
box.william/Assignment 4/.vs/assignment1/v16/ipch/AutoPCH/671c19026614e0b2/POWERUP.ipch
box.william/Assignment 4/.vs/assignment1/v16/ipch/AutoPCH/67cbba6e4324c1e5/PICKUPMANAGER.ipch
box.william/Assignment 4/.vs/assignment1/v16/ipch/AutoPCH/69060efc6f00915/SNAKESEGMENT.ipch
box.william/Assignment 4/.vs/assignment1/v16/ipch/AutoPCH/6b7d0129c9ed5805/FONT.ipch
box.william/Assignment 4/.vs/assignment1/v16/ipch/AutoPCH/7cb7bfb1a5681568/MEMORYTRACKER.ipch
box.william/Assignment 4/.vs/assignment1/v16/ipch/AutoPCH/7f7a37fc6665b8ed/COLOR.ipch
box.william/Assignment 4/.vs/assignment1/v16/ipch/AutoPCH/8505a0a5c72ab05c/EVENTSYSTEM.ipch
box.william/Assignment 4/.vs/assignment1/v16/ipch/AutoPCH/8c404aee58f474db/GAMEEVENTS.ipch
box.william/Assignment 4/.vs/assignment1/v16/ipch/AutoPCH/913dcd03400befeb/UNITMANAGER.ipch
box.william/Assignment 4/.vs/assignment1/v16/ipch/AutoPCH/9ea108be80b5d57d/MAIN.ipch
box.william/Assignment 4/.vs/assignment1/v16/ipch/AutoPCH/a19bf17782a33463/DEANMATH.ipch
box.william/Assignment 4/.vs/assignment1/v16/ipch/AutoPCH/a41eb9419f9e4ab1/DATAREPOSITORY.ipch
box.william/Assignment 4/.vs/assignment1/v16/ipch/AutoPCH/af41e891a31ae75a/GAME.ipch
box.william/Assignment 4/.vs/assignment1/v16/ipch/AutoPCH/b4ab59fcafadbcf8/GRAPHICSSYSTEM.ipch
box.william/Assignment 4/.vs/assignment1/v16/ipch/AutoPCH/c3c465441de62f64/INPUTEVENT.ipch
box.william/Assignment 4/.vs/assignment1/v16/ipch/AutoPCH/c6c3b4310f9674d9/LEVELEVENTS.ipch
box.william/Assignment 4/.vs/assignment1/v16/ipch/AutoPCH/cbafa76f67c49434/FOOD.ipch
box.william/Assignment 4/.vs/assignment1/v16/ipch/AutoPCH/cbd8ff852bb27346/GAMELISTENER.ipch
box.william/Assignment 4/.vs/assignment1/v16/ipch/AutoPCH/cf3ec6985c28391a/XTHROW.ipch
box.william/Assignment 4/.vs/assignment1/v16/ipch/AutoPCH/d0886ede95148e03/INPUTSYSTEM.ipch
box.william/Assignment 4/.vs/assignment1/v16/ipch/AutoPCH/e3bfbe30c7684c80/COLLISIONEVENT.ipch
box.william/Assignment 4/.vs/assignment1/v16/ipch/AutoPCH/e7c34e755b033ea4/ANIMATION.ipch
box.william/Assignment 4/.vs/assignment1/v16/ipch/AutoPCH/eacba1fe3373d68e/TRACKABLE.ipch
box.william/Assignment 4/.vs/assignment1/v16/ipch/AutoPCH/edcabfcfd8831ff3/GRAPHICSBUFFER.ipch
box.william/Assignment 4/.vs/assignment1/v16/ipch/AutoPCH/ff2f79e22904c204/SNAKEEVENT.ipch
box.william/Assignment 4/.vs/assignment1/v16/Solution.VC.db
box.william/Assignment 4/Debug/AllegroInitializer.obj
box.william/Assignment 4/Debug/Animation.obj
box.william/Assignment 4/Debug/assignment1.exe
box.william/Assignment 4/Debug/assignment1.exe.recipe
box.william/Assignment 4/Debug/assignment1.ilk
box.william/Assignment 4/Debug/assignment1.log
box.william/Assignment 4/Debug/assignment1.pdb
box.william/Assignment 4/Debug/assignment1.tlog/assignment1.lastbuildstate
box.william/Assignment 4/Debug/assignment1.tlog/CL.command.1.tlog
box.william/Assignment 4/Debug/assignment1.tlog/CL.read.1.tlog
box.william/Assignment 4/Debug/assignment1.tlog/CL.write.1.tlog
box.william/Assignment 4/Debug/assignment1.tlog/link.command.1.tlog
box.william/Assignment 4/Debug/assignment1.tlog/link.read.1.tlog
box.william/Assignment 4/Debug/assignment1.tlog/link.write.1.tlog
box.william/Assignment 4/Debug/assignment1.vcxproj.FileListAbsolute.txt
box.william/Assignment 4/Debug/CollisionEvent.obj
box.william/Assignment 4/Debug/Color.obj
box.william/Assignment 4/Debug/Event.obj
box.william/Assignment 4/Debug/Font.obj
box.william/Assignment 4/Debug/Food.obj
box.william/Assignment 4/Debug/Fruit.obj
box.william/Assignment 4/Debug/Game.obj
box.william/Assignment 4/Debug/GameEvents.obj
box.william/Assignment 4/Debug/GameListener.obj
box.william/Assignment 4/Debug/GraphicsBuffer.obj
box.william/Assignment 4/Debug/GraphicsBufferManager.obj
box.william/Assignment 4/Debug/GraphicsSystem.obj
box.william/Assignment 4/Debug/HeadsUpDisplay.obj
box.william/Assignment 4/Debug/InputEvent.obj
box.william/Assignment 4/Debug/InputSystem.obj
box.william/Assignment 4/Debug/KeyboardInputEvent.obj
box.william/Assignment 4/Debug/LevelEvents.obj
box.william/Assignment 4/Debug/LevelLoader.obj
box.william/Assignment 4/Debug/main.obj
box.william/Assignment 4/Debug/MouseInputEvent.obj
box.william/Assignment 4/Debug/MoveEvent.obj
box.william/Assignment 4/Debug/PickUpManager.obj
box.william/Assignment 4/Debug/PowerDown.obj
box.william/Assignment 4/Debug/PowerUp.obj
box.william/Assignment 4/Debug/Snake.obj
box.william/Assignment 4/Debug/SnakeEvent.obj
box.william/Assignment 4/Debug/SnakeSegment.obj
box.william/Assignment 4/Debug/Sprite.obj
box.william/Assignment 4/Debug/Unit.obj
box.william/Assignment 4/Debug/UnitManager.obj
box.william/Assignment 4/Debug/vc142.idb
box.william/Assignment 4/Debug/vc142.pdb
box.william/Assignment 4/Debug/Wall.obj
